<div class="d-flex justify-content-center">
  <div class="form-acceso col-md-3 mt-5">
    <form>
      <div class="card">
        <div class="card-header d-flex justify-content-center">Usuario</div>
        <div class="card-body">
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="usu"
              style="border-color: #3fbbc0"
              placeholder="Correo"
            />
            <label for="usu">Correo electrónico</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="cla"
              style="border-color: #3fbbc0"
              placeholder="clave"
            />
            <label for="cla">Contraseña </label>
          </div>
        </div>
        <div class="card-footer text-muted">
          <button
            class="w-100 btn btn btn-warning"
            type="submit"
            style="background-color: #3fbbc0"
          ><i class="fa-sharp fa-solid fa-right-to-bracket"></i>
            Iniciar sesión
          </button>
          <div class="d-flex justify-content-center">
          <a href="#reest"
            ><span>¿olvidaste tu contraseña?</span>
            <i class="bi bi-chevron-down"></i
          ></a>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
