<div id="topbar" class="d-flex align-items-center fixed">
  <div
    class="container d-flex align-items-center justify-content-center justify-content-md-between"
  >
    <div class="align-items-center d-none d-md-flex">
      <i class="fa-solid fa-clock"></i> Lunes - Sábado, 8:00 AM a 6:00PM
    </div>
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-headset"></i>Informacion +57 310768723
    </div>
  </div>
</div>

<div class="flex">
  <div class="container d-flex align-items-center">
    <a href="index.html" class="logo me-auto"
      ><img src="src\assets\images\logotipos\prueba3.png" alt=""
    /></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="#home">Inicio</a></li>
        <li>
          <a class="nav-link scrollto" href="#about">Quienes Somos</a>
        </li>
        <li>
          <a class="nav-link scrollto" href="#workteam">Equipo de Trabajo</a>
        </li>

        <li class="dropdown">
          <a href="#services"
            ><span>Servicios</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="#appointments">Agendamiento de citas</a></li>
            <li class="dropdown">
              <a href="#inquiries"
                ><span>Consultar citas</span> <i class="bi bi-chevron-right"></i
              ></a>
            </li>
          </ul>
        </li>
        <li><a href="#covid">Recomendaciones COVID</a></li>
        <li><a class="nav-link scrollto" href="#contactus">Contactenos</a></li>
        <li><a class="nav-link scrollto" href="#manage">Intranet</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <div class="col-md-2 mt-2">
      <div class="d-flex justify-content-lg-end">
        <div class="btn-group">
          <button
            style="background-color: #3fbbc0"
            type="button"
            class="btn btn-primary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-sharp fa-solid fa-user"></i>
            Usuario
          </button>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#inisesion"
                ><i class="fa-sharp fa-solid fa-clipboard-user"></i> Iniciar
                sesión</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#regis"
                ><i class="fa-sharp fa-solid fa-registered"></i> Registrarse</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
