<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded">
          <div
            id="topbar"
            class="p-1 mb-1 bg-gradient fw-bold text-center text-white"
          >
            <h3>Formulario para cita médica</h3>
          </div>
          <form
            class="d-flex justify-content-center m-4 row g-3 needs-validation"
            validate
          >
            <div class="d-flex col-md-10">
              <div class="p-2 flex-fill">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Dígite su Nombre completo"
                  id="nombre"
                  value=""
                  required
                />
              </div>

              <div class="p-2 flex-fill">
                <label for="apellido" class="form-label">Apellido</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Dígite su Apellido completo"
                  id="apellido"
                  value=""
                  required
                />
              </div>
            </div>

            <!-- Comienza Bloque fila dividida en 2-->
            <div class="d-flex col-md-10">
              <div class="p-2 flex-fill">
                <label for="tipodoc" class="form-label"
                  >Tipo de Documento</label
                >
                <select class="form-select" id="tipodoc" required>
                  <option selected disabled value="">Seleccione...</option>
                  <option>Tarjeta de Identidad</option>
                  <option>Cédula de Ciudadanía</option>
                  <option>Tarjeta Extranjería</option>
                  <option>Cédula Extranjería</option>
                </select>
              </div>

              <div class="p-2 flex-grow-1">
                <label for="numdoc" class="form-label"
                  >Número de Documento</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Dígite el número de su documento"
                  id="numdoc"
                  value=""
                  required
                />
              </div>
            </div>
            <!-- Termina Bloque>

          <!- Comienza Bloque -->

            <div class="d-flex col-md-10">
              <div class="p-2 flex-fill">
                <label for="numero" class="form-label">Número celular</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Dígite un número celular"
                  id="numero"
                  value=""
                  required
                />
              </div>

              <div class="p-2 flex-fill">
                <label for="pais" class="form-label">Sede consulta</label>
                <select class="form-select" id="pais" required>
                  <option selected disabled value="">Seleccione...</option>
                  <option>Bogotá</option>
                  <option>Calí</option>
                  <option>Medllín</option>
                </select>
              </div>
            </div>
            <!--Termina Bloque-->

            <!--Comienzo Bloque-->
            <div class="d-flex col-md-10">
              <div class="p-2 flex-fill">
                <span class="form-label">Consulta</span>
                <select class="form-select" id="pais" required>
                  <option selected disabled value="">
                    Seleccione tipo de consulta
                  </option>
                  <option>Consulta Prioritaria</option>
                  <option>Consulta General</option>
                  <option>Consulta Nutricionista</option>
                </select>
              </div>

              <div class="p-2 flex-fill form-group">
                <span class="form-label">Seleccione la fecha</span>
                <input class="form-select" type="date" required />
              </div>

              <div class="p-2 flex-fill form-grou">
                <span class="form-label">Hora</span>
                <select class="form-select" required>
                  <option selected disabled value="">
                    Seleccione una hora disponible
                  </option>
                  <option>8:00 AM</option>
                  <option>8:30 AM</option>
                  <option>9:00 AM</option>
                  <option>9:30 AM</option>
                  <option>10:00 AM</option>
                  <option>10:30 AM</option>
                  <option>11:00 AM</option>
                  <option>11:30 AM</option>
                  <option>12:00 PM</option>
                  <option>12:30 PM</option>
                  <option>13:00 PM</option>
                  <option>13:30 PM</option>
                  <option>14:00 PM</option>
                  <option>14:30 PM</option>
                  <option>15:00 PM</option>
                  <option>15:30 PM</option>
                  <option>16:00 PM</option>
                  <option>16:30 PM</option>
                  <option>17:00 PM</option>
                  <option>17:30 PM</option>
                  <option>18:00 PM</option>
                  <option>18:30 PM</option>
                  <option>19:00 PM</option>
                  <option>19:30 PM</option>
                  <option>20:00 PM</option>
                  <option>20:30 PM</option>
                  <option>21:00 PM</option>
                  <option>21:30 PM</option>
                  <option>22:00 PM</option>
                </select>
                <span class="select-arrow"></span>
              </div>
            </div>
            <!--Termina Bloque-->

            <!--Comienza Presentacion card Doctores disponibles -->
            <div class="d-flex justify-content-around">
              <div class="card" style="width: 12rem">
                <img
                  src="/src/assets/images/doctors/doctors-1.jpg"
                  class="card-img-top"
                  alt="Foto médico"
                />
                <div class="card-body">
                  <h6 class="card-title">Pepito Perez</h6>
                </div>
              </div>

              <div class="card" style="width: 12rem">
                <img
                  src="/src/assets/images/doctors/doctors-2.jpg"
                  class="card-img-top"
                  alt="Foto médico"
                />
                <div class="card-body">
                  <h6 class="card-title">Juanita Lopez</h6>
                </div>
              </div>

              <div class="card" style="width: 12rem">
                <img
                  src="/src/assets/images/doctors/doctors-3.jpg"
                  class="card-img-top"
                  alt="Foto médico"
                />
                <div class="card-body">
                  <h6 class="card-title">Don Quijote</h6>
                </div>
              </div>
            </div>
            <!--Termina Card Doctores-->

            <!--Comienza Bloque-->
            <div class="d-flex col-md-10">
              <div class="p-2 flex-fill">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >Motivo Consulta</label
                >
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="1"
                  placeholder="Describa brevemente sus síntomas..."
                ></textarea>
              </div>
            </div>
            <!--Termina Bloque-->

            <button id="topbar" class="btn fw-bold" type="submit">
              Agendar Cita
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
