<hr  style="color: #65c9cd;"/>
<div class="container">
    <div class="row">
        <div class="col-md-4 ms-md-auto">

<!-- Button trigger modal -->


<a type="button" class="appointment-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <i class="fa-solid fa-plus"></i>
    agendar cita 
    
</a>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>


        </div>
        <div class="col-md-4 ms-md-auto">



            <!-- Button trigger modal -->


 
  
<a type="button" class="appointment-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
    <i class="fa-regular fa-trash-can"></i>
    Eliminar cita
</a>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
        </div>
      </div>
      <div class="row">
        <div class="col-auto me-auto">.</div>
        <div class="col-auto">.</div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column">
        <li>
          <select
            class="form-select form-select-sm"
            aria-label=".form-select-sm example"
          >
            <option selected>Consulta medica</option>
            <option value="#">medician general</option>
            <option value="#">odontologia</option>
            <option value="#">psicología</option>
            <option value="#">nutrición</option>
          </select>
          <p class="fw-bold">Procedimentos:</p>

          <select
            class="form-select form-select-sm"
            aria-label=".form-select-sm example"
          >
            <option selected></option>
            <option value="#">ivan</option>
            <option value="#">camilo</option>
            <option value="#">str</option>
            <option value="#">andres</option>
          </select>
          <p class="fw-bold">Medicos:</p>

          


          <a class="nav-link active" aria-current="page" href="#">otra opcion</a>
        </li>
      </ul>
    </div>

    <div class="col-md-10 ms-auto">

      <table class="table table-bordered table-hover">
        <thead>
          <tr style="background-color: #65c9cd ;">
            <th  scope="col"># cita</th>
            <th scope="col">fecha</th>
            <th scope="col">hora</th>
            <th scope="col">nombre medico</th>
            <th scope="col">telefono</th>
            <th scope="col">modalidad</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <th scope="row">1</th>
            <td >01/03/2022</td>
            <td>07:20</td>
            <td>Str</td>
            <td>+57 34544554544</td>
            <td>virtual</td>            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>01/03/2022</td>
            <td>07:20</td>
            <td>ivan</td>
            <td>+57 34544554544</td>
            <td>virtual</td> 
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>01/03/2022</td>
            <td>07:20</td>
            <td>camilo</td>
            <td>+57 34544554544</td>
            <td>pres</td> 


          </tr>
        </tbody>
      </table>
    </div>
  </div>
