 <div class="container caja2">
     <div class="row">
          <div class="col top">
            <h4>Datos de Contacto</h4><br/>
                 <p>
                    <i class="fa-brands fa-instagram"></i>  LOREM IPSUM GROUP CASPE<br><br>  
                    <i class="fa-brands fa-facebook"></i> REM IPSUM GROUP CASPE<br><br> 
                    <i class="fa-brands fa-twitter"></i> LOREM IPSUM GROUP CASPE<br><br> 
                    <i class="fa-brands fa-linkedin"></i> LOREM IPSUM<br><br>          
                    <i class="fa-solid fa-phone"></i> TELF.:934 145 051 <br><br>
                    <i class="fa-brands fa-whatsapp"></i>  TELF.:934 145 051<br><br>
                    <i class="fa-solid fa-envelope"></i> www.loremipsumgroup.com<br/><br/>
                  I hope you don't mind but George asked if he could take me home. 
                  Where does he come from? Marty, that was very interesting music. 
                  Our first television set, Dad just picked it up today.<br /><br />

                </p>
          </div>
          <div class="col top">
            <h4><i class="fa-solid fa-map-pin"></i>
                Direccion </h4></i><br/>
                <p>LOREM IPSUM GROUP CASPE, 41 - BAJOS C 08010 BARCELONA BARCELONA
                TELF.:934 145 051 E-MAIL:www.loremipsumgroup.com<br /><br /></p>
            
            <p> <i class="fa-solid fa-map-location-dot"></i>
            Guia Google Street<br /><br /></p></i>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2031903.106736934!2d-74.50380047882807!3d5.917126331973548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e68156d1c0c8689%3A0x873d16bf1221d419!2sUniversidad%20Industrial%20de%20Santander!5e0!3m2!1ses!2sco!4v1662490366549!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
      </div>
 
  </div>


