<div class="text-center">
  <div class="container top">
    <div>
      <h3>Recomendaciones para su consulta</h3>
      <br />
      <div class="caja3">
        <img
          src="src\assets\images\carusel\17.jpg"
          alt="recomcovid1"
        /><br /><br />
        <img
          src="src\assets\images\carusel\16.jpg"
          alt="recomcovid2"
        /><br /><br />
        <img
          src="src\assets\images\carusel\18.jpg"
          alt="recomcovid13"
        /><br /><br />
      </div>
    </div>
  </div>
</div>
