<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active top2">
      <img
        src="src\assets\images\carusel\11.jpg"
        class="d-block w-100"
        alt="1"
      />
      <h5 class="carrusel-titulo">NUESTRO EQUIPO DE TRABAJO</h5>
      <p class="carrusel-subtitulo">
        Conoce nuestro personal atentos a tu atención
      </p>
      <div id="hero">
        <a
          href="#profesionales"
          class="btn-get-started btn-lg btn-outline-primary"
          >Leer Mas</a
        >
      </div>
    </div>

    <div class="carousel-item top2">
      <img
        src="src\assets\images\carusel\12.jpg"
        class="d-block w-100"
        alt="2"
      />
      <h5 class="carrusel-titulo">TODO LO QUE NECESITES</h5>
      <p class="carrusel-subtitulo">
        Contamos con una amplia red de proveedores amigos a tu servicio
      </p>
      <div id="hero">
        <a href="#" class="btn-get-started scrollto">Leer Mas</a>
      </div>
    </div>

    <div class="carousel-item top2">
      <img
        src="src\assets\images\carusel\13.jpg"
        class="d-block w-100"
        alt="3"
      />
      <h5 class="carrusel-titulo">QUEREMOS CUIDARTE</h5>
      <p class="carrusel-subtitulo">
        Es por eso que te compartimos las medidas para estar mas seguros durante
        tu atención
      </p>
      <div id="hero">
        <a href="#" class="btn-get-started scrollto">Leer Mas</a>
      </div>
    </div>
  </div>
  <div class="carousel-item">
    <img src="src\assets\images\carusel\15.jpg" class="d-block w-100" alt="4" />
    <div class="carousel-caption d-none d-md-block">
      <h5 class="carrusel-titulo h5">PROXIMAMENTE CONSULTA VIRTUAL</h5>
      <p class="carrusel-subtitulo p">
        Seguimos buscando opciones para estar mas cerca de ti.
      </p>
      <div id="hero">
        <a href="#" class="btn-get-started scrollto">Leer Mas</a>
      </div>
    </div>

    <div class="carousel-item top2">
      <img
        src="src\assets\images\carusel\15.jpg"
        class="d-block w-100"
        alt="4"
      />
      <h5 class="carrusel-titulo h5">PROXIMAMENTE CONSULTA VIRTUAL</h5>
      <p class="carrusel-subtitulo p">
        Seguimos buscando opciones para estar mas cerca de ti.
      </p>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
