<link rel="stylesheet" href="src\assets\styles\medicos.css" />

<!-- Swiper -->
<h1 class="title">Medicos Especializados</h1>

<div class="container">
  <div class="card">
    <img src="src\assets\images\doctors\doctors-1.jpg" />
    <h5 class="card-title">William Arias</h5>
    <h6 class="card-subtitle mb-2 text-muted">Odontología</h6>
    <p class="card-text">
      Mejorar y cuidar la salud bucal e integral del paciente, implementando
      medidas de protección de la salud bucal.
    </p>
    <a href="#login" class="card-link">Agendar cita</a>
  </div>

  <div class="card">
    <img src="src\assets\images\doctors\doctors-2.jpg" />
    <h5 class="card-title">Claudia Bolivar</h5>
    <h6 class="card-subtitle mb-2 text-muted">Medicina general</h6>
    <p class="card-text">
      Búsqueda del bien de cada paciente, brindando seguimiento y proteccion de
      su salud.
    </p>
    <a href="#login" class="card-link">Agendar cita</a>
  </div>

  <div class="card">
    <img src="src\assets\images\doctors\doctors-3.jpg" />
    <h5 class="card-title">Diego Perez</h5>
    <h6 class="card-subtitle mb-2 text-muted">Toma de laboratorio</h6>
    <p class="card-text">
      Brindar servicio de examenes medicos eficientes y confiables para cada
      paciente.
    </p>
    <a href="#login" class="card-link">Agendar cita</a>
  </div>

  <div class="card">
    <img src="src\assets\images\doctors\doctors-4.jpg" />
    <h5 class="card-title">Laura Rodriguez</h5>
    <h6 class="card-subtitle mb-2 text-muted">Dermatologia</h6>
    <p class="card-text">
      Cudiar la salud y la belleza de la piel de cada paciente, brindadno un
      servicio seguro.
    </p>
    <a href="#login" class="card-link">Agendar cita</a>
  </div>

  <div class="card">
    <img src="src\assets\images\doctors\doctors-5.jpg" />
    <h5 class="card-title">Maria Sánchez</h5>
    <h6 class="card-subtitle mb-2 text-muted">Nutricionista</h6>
    <p class="card-text">
      Ayudar al desarrollo pleno y sano de cada paciente, mejorando su estado de
      salud.
    </p>
    <a href="#login" class="card-link">Agendar cita</a>
  </div>

  <div class="card">
    <img src="src\assets\images\doctors\doctors-6.jpg" />
    <h5 class="card-title">Carolina Garcia</h5>
    <h6 class="card-subtitle mb-2 text-muted">Psiquiatría</h6>
    <p class="card-text">
      Fortalecer y dar servicios de salud mental integrales de manera oportuna.
    </p>
    <a href="#login" class="card-link">Agendar cita</a>
  </div>
</div>
