<div>
  <div class="caja1 container2">
    <img src="src\assets\images\carusel\7.jpg" class="d-block vw-100" alt="somos" />
    <div class="texto1">
      <h2>Quienes Somos</h2><br>
      <p>
        Never mind that now, never mind that now. What you got under here? Yeah,
        it's 8:00. Lynda, first of all, I'm not your answering service. Second
        of all, somebody named Greg or Craig called you just a little while ago.
        Yeah.<br><br>        
        That's a great idea. I'd love to park. Hey man, look at Marvin's
        hand. He can't play with his hands like that, and we can't play without
        him. Hot, Jesus Christ, Doc. Jesus Christ, Doc, you disintegrated
        Einstein. The car, Dad, I mean He wrecked it, totaled it. I needed that
        car tomorrow night, Dad, I mean do you have any idea how important this
        was, do you have any clue? Huh?<br><br>        
        Well just gimme something without any sugar in it, okay? Calvin. Oh, you 
        mean how you're supposed to act on a first date. What's the meaning of this. 
        Take that you mutated son-of-a-bitch. My pine, why you. You space bastard,
        you killed a pine.
      </p>
    </div>
  </div>
</div>
