<form action="javascript:reestablecerContra();">
  <div class="d-flex justify-content-center">
    <div class="form-acceso col-md-3 mt-5">
      <form>
        <div class="card">
          <div class="card-body">
            <div class="col-md-12">
              <label for="exampleInputEmail1" class="form-label"
                >Correo Electrónico<span class="check-rojo">*</span>:</label
              >
              <input
                type="email"
                class="form-control formulario__input"
                id="cor"
                required
                pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
              />
              <div class="invalid-feedback">Debe ser un correo válido</div>
            </div>
  
            <div class="col-md-12">
              <label for="exampleInputEmail1" class="form-label"
                >Contraseña<span class="check-rojo">*</span>:</label
              >
              <input
                type="password"
                class="form-control formulario__input"
                id="cla"
                required
                pattern="[a-zA-Z0-9]+"
              />
            </div>
  
            <div class="col-md-12">
              <label for="exampleInputEmail1" class="form-label"
                >Repetir Contraseña<span class="check-rojo">*</span>:</label
              >
              <input
                type="password"
                class="form-control formulario__input"
                id="recla"
                required
                pattern="[a-zA-Z0-9]+"
              />
            </div>
          </div>
  
          <div class="card-footer text-muted">
            <button
              class="w-100 btn btn btn-warning"
              type="submit"
              style="background-color: #3fbbc0"
            >
              Recuperar contraseña
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </form>