<form action="javascript:registrarUsu();" id="formaCrearUsu" class="validarFormulario" novalidate>
  <div class="d-flex justify-content-center">
    <div class="col-md-6">

      <div class="row justify-content-center">
        <div class="col-md-6">
          <label for="nom" class="form-label">Nombre(s)<span class="check-rojo">*</span>:</label>
          <input type="text" class="form-control formulario__input" id="nom" minlength="3" maxlength="30" required pattern="[a-zA-Z0-9-\s]+" />
          <div class="invalid-feedback">Nombre requerido</div>
        </div>
        <div class="col-md-6">
          <label for="ape" class="form-label">Apellido(s)<span class="check-rojo">*</span>:</label>
          <input type="text" class="form-control formulario__input" id="ape" minlength="3" maxlength="30" required pattern="[a-zA-Z0-9-\s]+" />
          <div class="invalid-feedback">Apellido requerido</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <label for="tipu" class="form-label">Tipo usuario<span class="check-rojo">*</span>:</label>
          <select class="ui-state-hover form-select" id="tipu" required>
            <option value="" selected>Seleccione...</option>
          </select>
          <div class="invalid-feedback">Debe seleccionar un tipo de usuario</div>
        </div>
        <div class="col">
          <label for="tipd" class="form-label">Tipo de Documento<span class="check-rojo">*</span>:</label>
          <select class="ui-state-hover form-select" id="tipd" required>
            <option value="" selected>Seleccione...</option>
            <option value="AN">Acta de nacimiento</option>
            <option value="CNZ">Carta de naturaleza</option>
            <option value="CC">Cédula de ciudadania</option>
            <option value="CE">Cédula de extranjeria colombiana</option>
            <option value="DE">Cédula extranjera</option>
            <option value="OE">Documento extranjero</option>
            <option value="LC">Licencia de conducción</option>
            <option value="NIT">Nit</option>
            <option value="PB">Partida de bautizo</option>
            <option value="PA">Pasaporte</option>
            <option value="RC">Registro civil</option>
            <option value="RNA">Res. nacionalidad por adopción</option>
            <option value="DNRC">Resolucion DNRC</option>
            <option value="TI">Tarjeta de identidad</option>
          </select>
          <div class="invalid-feedback">Debe seleccionar un tipo de documento</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="doc" class="form-label">Documento<span class="check-rojo">*</span>:</label>
          <input type="text" class="form-control formulario__input" id="doc" min="6" maxlength="11" required pattern="[0-9]+" />
          <div class="invalid-feedback">Debe ser número</div>
        </div>
        <div class="col-md-6">
          <label for="cor" class="form-label">Correo Electrónico<span class="check-rojo">*</span>:</label>
          <input type="email" class="form-control formulario__input" id="cor" required pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+" />
          <div class="invalid-feedback">Debe ser un correo válido</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="tel" class="form-label">Teléfono<span class="check-rojo">*</span>:</label>
          <input type="text" class="form-control formulario__input" id="tel" minlength="7" maxlength="10" required pattern="[0-9]+" />
          <div class="invalid-feedback">Debe ser solo numeros</div>
        </div>
        <div class="col-md-6">
          <label for="usu" class="form-label">Usuario<span class="check-rojo">*</span>:</label>
          <input type="text" class="form-control formulario__input" id="usu" minlength="5" maxlength="30" required pattern="[a-zA-Z0-9-_]+"/>
          <div class="invalid-feedback">Nombre de usuario requerido</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="cla" class="form-label">Contraseña<span class="check-rojo">*</span>:</label>
          <input type="password" class="form-control formulario__input" id="cla" required />
          <div class="invalid-feedback">Las contraseñas deben coincidir</div>
        </div>
        <div class="col-md-6">
          <label for="recla" class="form-label">Repetir Contraseña<span class="check-rojo">*</span>:</label>
          <input type="password" class="form-control formulario__input" id="recla" required />
          <div class="invalid-feedback">Las contraseñas deben coincidir</div>
        </div>
      </div>

      <div class="campos-obligatorios" style="margin-top: 20px">
        <span class="check-rojo">*</span> Campos obligatorios
      </div>

      <div class="formulario__grupo mt-2" id="grupo__terminos">
        <label class="formulario__label">
          <input class="form-check-input formulario__checkbox" type="checkbox" id="ter" required />
          Acepto los Términos y Condiciones
        </label>
      </div>

      <div class="formulario__grupo formulario__grupo-btn-enviar">
        <button type="submit" class="formulario__btn" style="background: #3fbbc0" name="validarTodo">
          <i class="fa-sharp fa-solid fa-arrow-right-to-bracket"></i> Registrarse
        </button>
      </div>

    </div>
  </div>
</form>

<div class="d-flex justify-content-center">

  <div class="col-md-5 mt-4">
      <div class="alert alert-primary" id="usuMsgOk" style="display: none;">
          Usuario almacenado correctamente
      </div>

      <div class="alert alert-danger" id="usuMsgError" style="display: none;">
          El suario no se pudo crear en la base de datos
      </div>
  </div>

</div>