.check-amarillo {
  color: #fed93e;
}

.check-rojo {
  color: #82140e;
}

.check-verde {
  color: #1d7612;
}

.check-azul{
  color: #3fbbc0;
  font-weight: bold;
}

.form-acceso input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-acceso input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# TopBar
--------------------------------------------------------------*/
#topbar {
  background: #3fbbc0;
  color: #fff;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  z-index: 996;
  transition: all 0.5s;
}
#topbar i {
  padding-right: 6px;
  line-height: 0;
}
/*--------------------------------------------------------------
# Menu de nav
--------------------------------------------------------------*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14,5px;
  color: #626262;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a i,
.navbar a:focus i {
  font-size: 14px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #3fbbc0;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 13px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #3fbbc0;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
*  Boton cita
*/
.appointment-btn {
  margin-left: 25px;
  background: #3fbbc0;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
/*--------------------------------------------------------------
# boton leer mas
--------------------------------------------------------------*/

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 6px;
  transition: 0.5s;
  line-height: 1;
  color: #3fbbc0; 
  background: white;
  border-bottom-style: ridge;
  border-left: ridge;
  border-top: ridge;
  border-right: ridge;
}

#hero .btn-get-started:hover {
  background:#3fbbc0;
  color:#fff;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(63, 187, 192, 0.1);
}

.doctors .member .member-img {
  position: relative;
  overflow: hidden;
}

.doctors .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctors .member .social a {
  transition: color 0.3s;
  color: #555555;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.doctors .member .social a i {
  line-height: 0;
}

.doctors .member .social a:hover {
  color: #3fbbc0;
}

.doctors .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.doctors .member .member-info {
  padding: 25px 15px;
}

.doctors .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #555555;
}

.doctors .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.doctors .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.doctors .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Carrusel
--------------------------------------------------------------*/
.carrusel-titulo{
  background-color: #3fbbc0; 
  padding: 3px;
  font-size:0.60cm;
}

.carrusel-subtitulo{
  color:aliceblue; 
  opacity:calc(90%);
  font-size:0.65cm;
  background-color:#3fbbc0;
  }

/*--------------------------------------------------------------
# Registro
--------------------------------------------------------------*/
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formulari__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 3px solid #3fbbc0;
  border-radius: 3px;
  height: 35px;
  line-height: 35px;
  padding: 0 30px 0 5px;
  transition: 0.3s ease all;
}

.formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__checkbox {
  margin: 10px;
}

.campos-obligatorios,
.formulario__checkbox,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
  grid-column: span 2;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__grupo-btn-enviar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

.formulario__btns {
  height: 45px;
  line-height: 45px;
  width: 30%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario__btns:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.ui-state-hover{
  width: 100%;
  border: 3px solid #3fbbc0;
  border-radius: 3px;
  height: 35px;
  line-height: 35px;
  padding: 0 30px 0 5px;
  transition: 0.3s ease all;
}

.ui-state-hover:focus{
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.ui-state-hover2{
  width: 100%;
  border: 3px solid #3fbbc0;
  border-radius: 3px;
  height: 35px;
  line-height: 35px;
  padding: 0 30px 0 5px;
  transition: 0.3s ease all;
}

.ui-state-hover2:focus{
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

/*--------------------------------------------------------------
# Validacion de registro
--------------------------------------------------------------*/

.formulario__grupo-correcto.formulario__validacion-estado{
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto.formulario__label{
  color: #bb2929;
}

.formulario__grupo-incorrecto.formulario__validacion-estado{
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto.formulario__input{
  border: 3px solid #bb2929;
}


/*--------------------------------------------------------------------
# otro prueba
----------------------------------------------------------------*/

.caja1{
    
  position: absolute;
  display: inline-block;
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  
}

.container2{
  padding: 10px 35px 20px 38px;
  
  
}

.texto1{
  position: absolute;
  top: 15%;
  left: 5%;
  color:#353434;
  margin-right: 55%;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
}

.caja2{
  
  background-image:url("src/assets/images/carusel/5.jpg");
  background:rgb(238, 243, 243);
  padding: 15px 15px;
  margin: 25px 50px 25px 70px;
  display: grid;  
  grid-template-areas: 
    "t s f"
    "t s f";
}

.caja3{
padding-left: 10%;
display:block;
margin-left: auto;
margin-right: auto; 
}

.top {
  padding: 30px 35px 20px 38px;
  
  color:#0d888d;
}

.left {
  background-color: #dc4d4d;
  grid-area: f;
}

.center {
  background-color: #FD9A5C;
  grid-area: s;
}

.right {
  background-color: #e8a2af;
  grid-area: t;
}

.icon{
  font-size: 20px;
  color:#0d888d;
}
  
.top2{
  text-align: center;
  padding: 10px 35px 20px 38px;
  color: white; 

}

.sucess{
  color:#3fbbc0;
}